table{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    width: 100%;
    border: black solid;
    margin: 0;
    padding: 0;
    background-color: white;
    
}
td {
    border: black 5px solid;
    text-align: center;
  }
  caption{
    background-color: white;
   
    
  }
.busqueda{
    background-color: white;
    
}

.conteinerform{
    background-color: white;
    display: flex;

}


body{
    background-image: url(https://wallpaperaccess.com/full/4082325.jpg);
}
#hAbout{
    background-image: url(https://wallpaperaccess.com/full/4082325.jpg);
}
header{
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: center;
    color: black;
    

}
.icono{
    width: 30px;
    display: inline-block;
    
}
nav{
    display: inline;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: pink;
    text-align: center;
    border: 100px solid 0;
    border-style: solid;
    list-style-type: none;

}
ul{
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 0;
    list-style-type: none;
}
li{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    


}


.menu a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Inria Serif', serif;
    transition: 0.3s;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
    text-transform: uppercase;

}
.menu a::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
.menu a:hover{
    
    text-decoration: double;

}






.conteiner{
    background-color: white;
    background-image: url();
    
    color: black;
}

h1{
    color: white;
    border: 100%;
    font-style: italic;
    background-color: black;
    display: inline;

}

img{
    margin: 11px;
}
